<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>FORM PENDAFTARAN TAMBAH BEASISWA DARI PAKET</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
	</head>
	<div th:replace="fragments/fragment :: header"></div>
	<body>
		<h3 class="page-header col-8" th:text="'Tambah Beasiswa dari Paket'"></h3>
		<form action="/paket/tambah/submit" method="post">
			<div class="form-group">
				<div class="col-4">
					<label for="kode_ba">Kode Beasiswa</label>
				</div>
				<div class="col-4">
					<input class="form-control" type="text" name="kode_ba"/>
				</div>
				<div class="col-4">
					<label for="no_urut">Nomor Urut</label>
				</div>
				<div class="col-4">
					<input class="form-control"type="text" name="no_urut"/>
				</div>
				<div class="col-4">
					<label for="tgl_mulai">Tanggal Mulai Pendaftaran</label> 
				</div>
				<div class="col-4">
					<input class="form-control" type="date" name="tgl_mulai"/>
				</div>
				<div class="col-4">
					<label for="tgl_tutup">Tanggal Tutup Pendaftaran</label>
				</div>
				<div class="col-4">
					<input class="form-control" type="date" name="tgl_tutup"/>
				</div>
				
				<br>
				<div class="col-4">
					<button type="submit" class="btn btn-warning">Submit</button>
				</div>
			</div>
		</form>
	</body>

</html>

