<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org">
	
	<head>
		<title>Lihat Data Mahasiswa Berdasarkan NPM</title>
		<script src="/DataTables/jquery-1.12.4.js"></script>
        <link rel="stylesheet" href="/DataTables/DataTables-1.10.16/css/jquery.dataTables.css" />
        <script type="text/javascript" src="/DataTables/DataTables-1.10.16/js/jquery.dataTables.js"></script>
	</head>	
	<div th:replace="fragments/fragment :: header"></div>
	<body>
		<div class="form-group">
			<div class="col-12">
				<h3>Detail Beasiswa</h3>				 
				<table class="table display dataTable" id="example" role="grid" >
       		<thead class="thead-dark">
	       		<tr role="row">
	       			<th style="width:30px;">No Urut Pendaftar</th>
	       			<th style="width:70px;">Nama</th>
	       			<th style="width:160px;">NPM</th>
	       			<th style="width:120px;">Waktu Daftar</th>
	       			<th style="width:80px;">Status Terima</th>
	       			<th style="width:120px;">Pilih</th>

	       		</tr>
	       	</thead>	
       		<tbody>
   				<tr >
   					<td >1</td>
   					<td >Ini Contoh</td>
   					<td >123456</td>
   					<td >1 Jan 1970</td>
   					<td >Tidak Aktif</td>
   					<td>
   						<a href="/beasiswa/donatur/detail/lihat"><button type="button" >Terima</button></a>
   						<a href="/beasiswa/donatur/detail/lihat"><button type="button" >Tolak</button></a>
   					</td>
   				</tr>
       	</table>
       	<script>
		    $(document).ready(function() {
		    	$('#example').DataTable({
			        "info":     false
			    	});
		    } );
	    </script>
			</div>
				
		</div>
	</body>
</html>

