<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Beasiswa</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
	</head>
	<div th:replace="fragments/fragment :: header"></div>
	<body><center>
		<h3 class="page-header col-8" th:text="'Detail Beasiswa'"></h3>
		<div class="form-group">
			<div class="col-12">
				<h3>Beasiswa S2 University of Edinburgh - 1001</h3>
				<h5>Beasiswa Prestasi dibuat oleh 122214894851</h5>
				<h5>[merupakan batuan basiswa terhadap mahasiswa yang berprestasi]</h5>
				<h5>Syarat Beasiswa : Minimal IPS=3.3</h5>
				<div class="col-4">
					<button type="submit" class="btn btn-warning">Daftar Beasiswa Ini</button>
				</div>
			</div>
		</div>
		
	</center>
	</body>

</html>

