<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Daftar sebagai Mahasiswa</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
	</head>
	<div th:replace="fragments/fragment :: header"></div>
	<body>
		<h3 class="page-header col-8" th:text="'Daftar sebagai Mahasiswa'"></h3>
		<form action="/paket/tambah/submit" method="post">
			<div class="form-group">
				<div class="col-4">
					<label for="npm">NPM</label>
				</div>
				<div class="col-4">
					<input class="form-control" type="text" name="npm"/>
				</div>
				<div class="col-4">
					<label for="nama">Nama Lengkap</label>
				</div>
				<div class="col-4">
					<input class="form-control"type="text" name="nama"/>
				</div>
				<div class="col-4">
					<label for="tempat_lahir">Tempat Lahir</label> 
				</div>
				<div class="col-4">
					<input class="form-control" type="tempat_lahir" name="tempat_lahir"/>
				</div>
				<div class="col-4">
					<label for="tanggal_lahir">Tanggal Lahir</label>
				</div>
				<div class="col-4">
					<input class="form-control" type="text" name="tanggal_lahir"/>
				</div>
				<div class="col-4">
					<label for="jenis_kelamin">Jenis Kelamin</label>
				</div>
				<div class="col-4">
					<select class="form-control" name="jenis_kelamin">
						<option value="" selected="selected">--Pilih Jenis Kelamin--</option>
						<option value="1">Laki-laki</option>
						<option value="0">Perempuan</option>
					</select>
				</div>
				<div class="col-4">
					<label for="agama">Agama</label>
				</div>
				<div class="col-4">
					<select class="form-control" name="agama">
						<option value="" selected="selected">--Pilih Agama--</option>
						<option value="Protestan">Protestan</option>
						<option value="Katolik">Katolik</option>
						<option value="Islam">Islam</option>
						<option value="Hindu">Hindu</option>
						<option value="Budha">Budha</option>
						<option value="Konghucu">Konghucu</option>
					</select>
				</div>
				<div class="col-4">
					<label for="golongan_darah">Golongan Darah</label>
				</div>
				<div class="col-4">
					<select class="form-control" name="golongan_darah">
						<option value="" selected="selected">--Pilih Golongan Darah--</option>
						<option value="A+">A+</option>
						<option value="A-">A-</option>
						<option value="B+">B+</option>
						<option value="B-">B-</option>
						<option value="AB+">AB+</option>
						<option value="AB-">AB-</option>
						<option value="O+">O+</option>
						<option value="O-">O-</option>
					</select>
				</div>
				<div class="col-4">
					<label for="tahun_masuk">Tahun Masuk</label>
				</div>
				<div class="col-4">
					<input class="form-control" type="text" name="tahun_masuk" />
				</div>
				<div class="col-4">
					<label for="jalur_masuk">Jalur Masuk</label>
				</div>
				<div class="col-4">
					<select class="form-control" name="jalur_masuk">
						<option value="" selected="selected">--Pilih Jalur Masuk--</option>
						<option value="Undangan Olimpiade">Undangan Olimpiade</option>
						<option value="Undangan Reguler / SNMPTN">Undangan Reguler / SNMPTN</option>
						<option value="Undangan Paralel / PPKB">Undangan Paralel / PPKB</option>
						<option value="Ujian Tulis Bersama / SBMPTN">Ujian Tulis Bersama / SBMPTN</option>
						<option value="Ujian Tulis Mandiri">Ujian Tulis Mandiri</option>
					</select>
				</div>
				<div class="col-4">
					<label for="program_studi">ID Program Studi</label>
				</div>
				<div class="col-4">
					<input class="form-control" type="text" name="id_prodi" />
				</div>
				<br>
				<div class="col-4">
					<button type="submit" class="btn btn-warning">Simpan</button>
				</div>
			</div>
		</form>
	</body>

</html>

