<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Daftar Pengumuman</title>
        <script src="/DataTables/jquery-1.12.4.js"></script>
        <link rel="stylesheet" href="/DataTables/DataTables-1.10.16/css/jquery.dataTables.css" />
        <script type="text/javascript" src="/DataTables/DataTables-1.10.16/js/jquery.dataTables.js"></script>
    </head>
    <div th:replace="fragments/fragment :: header"></div>
    <body>
    	<center>
       		<h3>Daftar Pengumuman</h3>
       	</center>
       	<table class="table display dataTable" id="example" role="grid" >
       		<thead class="thead-dark">
	       		<tr role="row">
	       			<th style="width:120px;">Tanggal</th>
	       			<th style="width:150px;">Judul</th>
	       			<th style="width:120px;">Pembuat</th>
	       		</tr>
	       	</thead>	
       		<tbody>
   				<tr>
   					<td>20 Januari 2017</td>
   					<td><a href="/view-pengumuman">Contoh Pengumuman</a></td>
   					<td>LPDP</td>
   				</tr>
       	</table>
       	<script>
		    $(document).ready(function() {
		    	$('#example').DataTable({
			        "info":     false
			    	});
		    } );
	    </script>
    </body>
</html>
