<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org">
	
	<head>
		<title>Pengumuman</title>
	</head>	
	<div th:replace="fragments/fragment :: header"></div>
	<body>
		<div class="form-group">
			<div class="col-12">
				<center><h4>Pengumuman</h4></center>
				<h6>ditulis oleh [LPDP] pada [27 Januari 2017]</h6>
				<h6>[Isi dari pengumuman ini yang dibuat oleh administrator atau donatur, terdiri dari maksimal
					255 karakter yang menampilkan pengumuman terkait beasiswa sesuai dengan kode skema
					dan nomor urut. Jangan dibaca, ini hanya menunjukkan kalau ini adalah isi dari
					pengumuman. Kalau dibaca, anda telah membuang waktu anda selama 7 detik membaca ini.]</h6>
			</div>
		</div>
	</body>
</html>